table{
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 44px;
}

td:nth-child(1), td:nth-child(2) {
    border-right: 3px solid red;
}

tr:nth-child(1), tr:nth-child(2){
    border-bottom: 3px solid red;
}
